@import '../.meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/bootstrap';

/*Page Effects*/

.page {
  padding-top: 75px;
}

/* Login */
.login {
  margin-top: 10px;
  a {
    text-decoration: none;
    color: black;
  }
}

div#login-dropdown-list {
  div#login-email-label-and-input {
    margin-bottom: 10px;
    input {
      width: 190px;
      display: inline-block;
    }
  }
  div#login-password-label-and-input input {
    width: 164px;
    display: inline-block;
  }
  z-index: 9999;
}

/*Navigation*/

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: rgb(104,184,43) ;
}

.navbar-custom {
  background-color: #42FF23;
  color:#ffffff;
  border-radius:0;
}

.navbar-toggle {
  background-color: rgb(104,184,43);
  &:hover {
    @extend .navbar-toggle
  }
}

.navbar-brand
{
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
  font-size: 20px;
  color: white !important;
  &:hover {
    cursor: default;
    color: white !important;
  }
}

.navbar-link {
  color: white !important;
  text-decoration: none;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar-right {
  float: right;
}


/*Task Items*/

.dialdiv {
  margin-top: -10px;
}

div.tasks {
    font-size: 24px;
    div.title-display {
        font-weight: 500;
    }
}
