@import '../.meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/bootstrap';

/*Page Effects*/


/*Navigation*/
.login {
  margin-top: 10px;
}

.navbar-brand
{
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
}
