<template name="dayTaskGroup">
<div class="day-tasks-container">
  <div class="day-title row">
    <div class="col-md-12">
      <h2>
        <span class="title pull-left">Today</span>
        {{#unless editing}}
          <span class="timeslot pull-right">
            {{timeslot}}
          </span>
        {{/unless}}
      </h2>
    </div>
  </div>
  {{#if editing}}
  <div class="row">
    <div class="form-group" id="length-group">

      <div class="col-xs-8 col-sm-4">
        <select class="form-control" name="task-hours" id="task-hours">
        </select>
      </div>
      <label class="col-xs-4 col-sm-1">hours</label>

      <div class="col-xs-8 col-sm-4">
        <select class="form-control" name="task-minutes" id="task-minutes">
        </select>
      </div>
      <label class="col-xs-4 col-sm-1">mins</label>

      <div class="col-xs-12 col-sm-2">
        <button class="free-time-submit btn btn-default">Save</button>
      </div>

    </div>
  </div>
  {{/if}}

  <div class="tasks">
    {{#each tasks}}
    {{> taskitem}}
    {{/each}}
  </div>
</div>
<hr>
</template>
