
$lowImportance:         #20d4bc;
$medImportance:         #f29830;
$highImportance:        #d42038;
$color-primary:         #1fd100;
$color-primary-dark-20: #06cc00;
$color-secondary:       #06ff00;
$color-tertiary:        #e51914;
$color-default:         #c9ccca;
$color-dark:            #3e403f;
$color-grey:            #777;
$color-link:            #2a6496;
