@import '../../.meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/bootstrap';

@import 'variables';
@import 'nav';

/* Helpers */
.smaller {
  font-weight: normal;
  line-height: 1;
  color: $color-grey;
  font-size: 45%;

  a {
    color: $color-link;
  }
}

.black {
  color: black;
}

.de-emphasized {
  color: $color-grey;
  font-style: italic;
}

/*Page Effects*/
.page {
  padding-top: 75px;
}

/* Login */
.login {
  margin-top: 10px;
  a {
    text-decoration: none;
    color: black;
  }
}

div#login-dropdown-list {
  div#login-email-label-and-input {
    margin-bottom: 10px;
    input {
      width: 190px;
      display: inline-block;
    }
  }
  div#login-password-label-and-input input {
    width: 164px;
    display: inline-block;
  }
  z-index: 9999;
}

/*DayLists*/
.day-title {
  color: $color-primary-dark-20;
}

/*Task Items*/

.due-date {
  font-size: 18px;
  color: grey;
}

.dialdiv {
  margin-top: -10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}

.task-row {
    font-size: 24px;
    div.title-display,
    div.importance-display {
        font-weight: 500;
    }
    span.lowImportance {
        color: $lowImportance;
    }
    span.mediumImportance {
        color: $medImportance;
    }
    span.highImportance {
        color: $highImportance;
    }
}

/*Media Queries*/

@media(max-width: 768px) {
    div.tasks {
        font-size: 16px;
    }
}

/* New Task Page */
div.btn-group-justified label {
    font-weight: 500;

    &:nth-child(1) {
        color: $lowImportance;
    }
    &:nth-child(2) {
        color: $medImportance;
    }
    &:nth-child(3) {
        color: $highImportance;
    }
}

/* Pomodoro */

.clock-wrapper {
  margin-top: 40px;
  width: 100%;
}

.clock {
  zoom: 0.5;
  -moz-transform: scale(0.5);
  margin: 0 auto;
  width: 80%;
}

.play-pause-container {
  width: 100%;
  margin-top: 40px;
}

.play-pause {
  font-size: 72px;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  border: solid #888 5px;
  border-radius: 50%;

  span {
    padding: 6px;
    padding-left: 10px;
  }
}

/* Login */

.login-container .container {
  @media(min-width: 768px) {
    width: 50%;
  }
  div.submit-row {
    padding-top: 5px;

    button {
      width: 100%;
    }
  }
}
