<template name="forgotPasswordForm">
  <div class="row">
    <div class="col-xs-12">
      <form id="forgot-password-form" action="action">
        <div class="row">
          <label for="email" class="col-xs-12">email:</label>
          <div class="col-xs-12">
            <input type="email" id="login-email" class="form-control" />
          </div>
        </div>
        <div class="row submit-row">
          <div class="col-xs-12">
            <button type="submit" id="login-button" class="btn btn-primary" >
              Reset Password
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <a id="signupView">Sign Up</a>
    </div>
    <div class="col-xs-6 text-right">
      <a id="loginView">Sign In</a>
    </div>
  </div>
</template>
