<template name="loginForm">
  <div class="container">
    <div class="row">
        <form id="login-form" action="action">
          <label for="email">email:</label>
          <input type="email" id="login-email" class="form-control" />
          <label for="password">password:</label>
          <input type="password" id="login-password" class="form-control" />
          <button type="submit" id="login-button" class="btn btn-primary">
            Sign In
          </button>
      </form>
    </div>
  </div>
</template>
