<template name="loginForm">
  <div class="row">
    <div class="col-xs-12">
      <form id="login-form" action="action">
        <div class="row">
          <label for="email" class="col-xs-12">email:</label>
          <div class="col-xs-12">
            <input type="email" id="login-email" class="form-control" />
          </div>
        </div>
        <div class="row">
          <label for="password" class="col-xs-12">password:</label>
          <div class="col-xs-12">
            <input type="password" id="login-password" class="form-control" />
          </div>
        </div>
        <div class="row submit-row">
          <div class="col-xs-12">
            <button type="submit" id="login-button" class="btn btn-primary" >
              Sign In
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-6">
        <a id="passwordView">Forgot Password</a>
      </div>
      <div class="col-xs-6 text-right">
        <a id="signupView">Sign Up</a>
      </div>
  </div>
</template>
