<template name="taskItem">
{{#if isDone}}
  <div class="row task-row done" id="{{_id}}">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-md-4 col-xs-3 ">
          <div class="title-display">{{title}}</div>
          <div class="de-emphasized"><i>was due {{dueAtDisplay}}</i></div>
        </div>
        <div class="col-md-2 col-xs-1 importance-display text-center">
          <span class="{{importanceClass}}">{{importanceBangs}}</span>
        </div>
        <div class="col-md-3 col-xs-4 percent-display">
          <div class="dialdiv" hidden="true">
            <input type="text" value="{{percentageCompleted}}" data-width="50" data-height="50" class="dial">
          </div>
        </div>
        <div class="btn-group-vertical col-md-3 col-xs-3 edit-complete pull-right" role="group">
          <button type="button" class="edit btn btn-default" data-toggle="modal" data-target="#editModal">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          </button>
          <button type="button" class="complete btn btn-default active">
            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
{{else}}
  <div class="row task-row {{overdueClass}}" id="{{_id}}">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-md-4 col-xs-3 title-display">
          {{title}}
        </div>
        <div class="col-md-2 col-xs-1 importance-display text-center">
          <span class="{{importanceClass}}">{{importanceBangs}}</span>
        </div>
        <div class="col-md-3 col-xs-4 percent-display">
            <div class="dialdiv" hidden="true">
              <input type="text" value="{{percentageCompleted}}" data-width="50" data-height="50" class="dial">
            </div>
        </div>
        <div class="btn-group-vertical col-md-3 col-xs-3 edit-complete pull-right" role="group">
          <button type="button" class="edit btn btn-default" data-toggle="modal" data-target="#editModal">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          </button>
          <button type="button" class="complete btn btn-default">
            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 text-right">
          {{timeRemainingStr}}
        </div>
        <div class="col-xs-12 col-sm-6 text-right">
          due {{dueAtDisplay}}
        </div>
      </div>
    </div>
  </div>
{{/if}}
</template>
