<template name="tasksNav">
  <nav class="navbar navbar-default navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="col-xs-4">
        {{#if currentUser}}
          <ul class="nav navbar-nav">
            <li><a href="#" id="signOut" class="navbar-link">Sign Out</a></li>
          </ul>
        {{/if}}
      </div>
      <div class="col-xs-4">
        <a class="navbar-brand navbar-link"><img class="dunmo" src="/dunmo.png" height="30px" alt="DUNMO" /></a>
      </div>
      <div class="col-xs-4">
        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
            <li><a class="navbar-link new new-task-action" href="#"><i class="glyphicon glyphicon-plus"></i></a></li>
            <!-- <li>
              <a class="navbar-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Views <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/tasks">      Agenda     </a></li>
                <li><a href="/tasks/all">  All Todos  </a></li>
                <li><a href="/tasks/done"> Done Tasks </a></li>
              </ul>
            </li> -->
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</template>
