
.task-row {
  .dialdiv:hover, input:hover {
    cursor: pointer;
  }
}

.task-row.overdue {
	color: red !important;
}

div.edit-complete button {
  &.complete:hover {
    color: #1fd100;
  }
  &.edit:hover {
    color: #f29830;
  }
}

.task-row.done {
  .dialdiv:hover, input:hover {
    cursor: default;
  }
}

.task-row.done {
  .complete.active {
    color: #1fd100;
  }
}
