<template name="taskItem">
<div class="row task-row" id="{{_id}}">
  <div class="col-md-4 col-xs-3 title-display">
    {{title}}
  </div>
  <div class="col-md-2 col-xs-1 importance-display text-center">
    <span class="{{importanceClass}}">{{importanceBangs}}</span>
  </div>
  <div class="col-md-3 col-xs-4 percent-display">
      <div class="dialdiv" hidden="true">
        <input type="text" value="{{percentageCompleted}}" data-width="50" data-height="50" class="dial">
      </div>
  </div>
  <div class="col-md-2 col-xs-2 length-display">
    <div class="row">
      <div class="col-xs-12 text-center">
        {{timeRemainingDisplay}}
      </div>
    </div>
    <div class="row due-date">
      <div class="col-xs-12 text-center">
        due {{dueAtDisplay}}
      </div>
    </div>
  </div>
  <div class="btn-group-vertical col-md-1 col-xs-2 edit-complete" role="group">
    <button type="button" class="edit btn btn-default" data-toggle="modal" data-target="#editModal">
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    </button>
    <button type="button" class="complete btn btn-default">
      <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
    </button>
  </div>
</div>
</template>
